*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #091429;  
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.nav{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.white{
    background: linear-gradient(to right, #1798F8, #05CEFF);
    padding: 5px;
}
